<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('./partials/head'); %>
    <link href="/css/automation.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <%- include('./partials/navbar'); %>

    <div class="container-fluid">
       <div id="appmixer-container">
         <div id="my-integrations"></div>
         <div id="my-wizard-container">
           <div id="my-wizard-bg"></div>
           <div id="my-wizard-wrapper">
             <button class="btn-close-wizard">x</button>
             <div id="my-wizard"></div>
           </div>
         </div>
      </div>
    </div>

    <%- include('./partials/scripts'); %>

    <script src="https://my.qa.appmixer.com/appmixer/appmixer.js"></script>
    <script src="/js/automation.js"></script>
    <script>
        showIntegrations();
    </script>
  </body>

</html>
